# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3

# Environment variables
.env

# macOS files
.DS_Store

# PyInstaller
*.spec

# Unit test / coverage reports
.coverage
htmlcov/
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
